<div>
    Todo listo para trabajar con websockets
</div>

<p id="message"></p>

<script src="http://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="http:/socket.io/socket.io.js"></script>
<script type="application/json" src="/js/index.js"></script>